.description{
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 100px auto;
  min-width: 784px;

}

.description__two-columns{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  column-gap: 50px;

}

.decription__brief{
  line-height: 1.2;
  font-size: 18px;
  color:#2f80ed;
  min-width: 175px;
}

.description_paragraph{
  line-height: 34px;
  font-size: 24px;
  margin: 30px;

}


.description__span-accent{
  font-size: 24px;
  font-weight: bold;
  margin: 24px;
}

@media(max-width:1024px){

.description{
  max-width: 720px;
  width: 100%;
  margin: 0 auto;

}

.description__two-columns{
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.description__paragraph{
  line-height: 1.63;
  font-size: 18px;
}
}