.description{
  display: flex;
  justify-content: center;
  margin: 100px auto;
  min-width: 784px;

}

.description__oakley{
  background-color: #F2F2F2;
  max-width: 100%;
  padding-top: 160px;
  padding-bottom: 100px;
  margin:-60px 0 0;



}

.description__two-columns{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  column-gap: 50px;
  max-width: 80%;


}

.decription__brief{
  line-height: 1.2;
  font-size: 18px;
  color:#2f80ed;
  min-width: 175px;
}

.description__paragraph{
  line-height: 34px;
  font-size: 24px;

}


.description__span-accent{
  font-size: 24px;
  font-weight: bold;
}

@media(max-width:1024px){


.description{
  min-width: 320px;
  margin:  25px auto;

}

.description__two-columns{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 720px;
  width: 100%;

}

.description__oakley{
  max-width: 100%;
  padding-top: 160px;
  padding-bottom: 100px;
  margin:-60px 0 0;

}

.description__paragraph{
  line-height: 1.63;
  font-size: 18px;
}
.description__span-accent{
  font-size: 18px;
}
}

@media(max-width:544px){


  .description__two-columns{
    max-width: 288px;
    width: 100%;


  }

  .description__paragraph{
    font-size: 16px;
  }

  .description__span-accent{
    font-size: 16px;
  }
}