.footer{
  background-color: #1f1f1f;
  color: #fff;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__logo{
  width: 183px;
  height: 35px;
}

.footer__column-content{
  display: flex;
  column-gap: 50px;

}
.footer__link{
  margin: 0;
}





.footer__copyright{
  font-size: 18px;

}
.footer__column-copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__column-link{
  display: flex;
  column-gap: 10px;
}
.footer__column-heading{
  margin-bottom: 20px;
}

.footer__list{
  margin-top: 20px;
}

@media(max-width:1024px){
.footer__columns{
  flex-direction: column;
  align-items: center;
}

}

@media(max-width:544px){
  .footer__column-content,
  .footer__columns{
    flex-direction: column;
  }

}