.header {
  height: 100vh;
  max-height: 756px;
  display: flex;
  justify-content: space-between;
}

.header__square{
  width: 568px;
  height: 568px;
  background-color:#2f80ed ;
  position: absolute;
  z-index: -1;
  right: 1px;
}
.header__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
}

.header__title{
  font-size: 102px;
  font-weight: bold;
  max-width: 730px;
  margin-left: 64px;

}

.header__paragraph{
  margin: auto 0 0 64px;
  max-width: 388px;

}

.header__subtitle{
  font-size: 25px;
  font-weight: normal;
}

.header__link{
  font-size: 18px;
}
.header__square-pic {
  height: 568px;
  width: 568px;
}

@media(max-width:1024px){
  .header{
    flex-direction: column;
  }

  .header__square{
    width: 653px;
    height: 653px;
    position: absolute;
    z-index: -2;
    top:800px;
    left: 500px;
  }



}