.header {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-color: #F2F2F2;
  margin: 0;
  justify-content: center;
  overflow: hidden;
}

.header__square-rotation{
  transform: rotate(15deg);
}

.header__square-rotation_animated{
  animation: rotation 20s linear infinite;
}

@keyframes rotation{
  from{
    transform: rotate(15deg);
  }
  to{
    transform: rotate(375deg);
  }
}

.header__square{
  width: 568px;
  height: 568px;
  background-color:#2f80ed ;
  position: absolute;
  right: 1px;
  bottom: 250px;
}
.header__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
}

.header__title{
  font-size: 102px;
  font-weight: bold;
  max-width: 730px;
  width: 100%;
  margin-left: 64px;
  z-index: 1;


}

.header__main-illustration{
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 1px;
  z-index: 1;

}

.header__paragraph{
  margin: auto 0 0 64px;
  max-width: 388px;
  z-index: 1;

}

.header__subtitle{
  font-size: 25px;
  font-weight: normal;
}

.header__link{
  font-size: 18px;
  text-decoration: none;
  color:#2f80ed
}


@media(max-width:1024px){


  .header__main-illustration{
    position: relative;
  }
  .header__square{
    bottom: 0;
    left: 200px;
  }

  .header__paragraph{
    margin-bottom: 150px;
  }

   .header__title{
    max-width: 530px;
    font-size: 75px;

  }

  .header__content{
    align-items: center;
  }

  .header__paragraph{
    margin:0;
  }


}


@media (max-width:544px) {
  .header__title{
    font-size: 40px;
    max-width: 228px;
    width: 100%;
    margin: 0 auto;

  }
.header__content{
  margin-bottom:350px;
}

.header__subtitle{
  font-size: 16px;
}

.header__paragraph{
  max-width: 288px;
  margin: 0 auto;
}

.header__main-illustration{
  width: 100%;
  height: auto;
  margin: 132px  0 auto 0 ;
}

.header__square{
  width: 284px;
  height: 284px;
  background-color:#2f80ed;
  bottom: 75px;
  left: 60px;
}

}

@media(max-width:430px){
  .header__square{
    bottom: 0;
  }

  .header__main-illustration{
    position: absolute;
    bottom: 0;
  }
}
